<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbs.pojo.EmployeeMapper">

	<select resultType="employee" parameterType="employee" id="checkEmployee">
		select a.e_id, a.name, a.username, a.password, a.age, b.j_name from t_empinfo a,t_empjob b 
		where a.j_id=b.j_id and a.username=#{username} and a.password=#{password} and b.j_id = #{j_id}
	</select>
	
	
	<insert parameterType="employee" id="insertEmployee">
		insert into t_empinfo(username,password,name,age,j_id,hiredate) 
		values (#{username},#{password},#{name},#{age},#{j_id},sysdate()) 
	</insert>
	
	<update parameterType="employee" id="updateEmployee">
		update t_empinfo set name=#{name},age=#{age} 
		where e_id = #{e_id} 
	</update>
	
	<delete parameterType="employee" id="deleteEmployee">
		delete from t_empinfo where e_id = #{e_id}
	</delete>
	
	
	
</mapper>